html,body{
  margin:0;
  padding:0;
  height: 100%;
}

body {
  font-family: source-sans-pro, sans-serif;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

body {
  color: #F0F1F1;
  background: #4A4D4E;
}

#fname {
	width: 400px;
}

#playbtn {
	width: 100px;
}